<footer class="footer">
  <div class="container">
  <nav class="level">

  <div class="level-left">

    <p class="control">
<a class="button" href="https://github.com/nmshaw000/nmshaw" target="_blank">
  <span class="icon">
    <i class="fa fa-github"></i>
  </span>
  <span>GitHub</span>
</a>
<a class="button" href="http://210.200.14.12/nmshaw/" target="_blank">
  <span class="icon">
    <i class="fa fa-external-link"></i>
  </span>
  <span>Old</span>
</a>
    </p>

  </div>

  <div class="level-right">
  <p class="level-item"><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">{{ 'Archives'|gettext(DEFAULT_LANG) }}</a></p>
  <p class="level-item"><a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories.html') }}">{{ 'Categories'|gettext(DEFAULT_LANG) }}</a></p>
  <p class="level-item"><a href="{{ SITEURL }}/{{ TAGS_URL | default('tags.html') }}">{{ 'Tags'|gettext(DEFAULT_LANG) }}</a></p>
  </div>

  </nav>
  </div>
</footer>
