<section class="section is-info">
<div class="container">
<aside class="menu">
  <p class="menu-label">
    個人
  </p>
  <ul class="menu-list">
    <li><a>榮譽</a></li>
    <li><a>演講</a></li>
    <li><a>服務</a></li>
  </ul>
  <p class="menu-label">
    研究
  </p>
  <ul class="menu-list">
    <li><a>論文</a></li>
    <li><a>實驗室</a></li>
    <li><a>計畫</a></li>
    <li><a>設備</a></li>
  </ul>
  <p class="menu-label">
    其他
  </p>
  <ul class="menu-list">
    <li><a>連結</a></li>
  </ul>
</aside>
</div>
</section>
