{% extends "layout/layout.html" %}
{% set content = (page if page else article )%}

{% block meta_keywords -%}
  {%- if content.tags -%}
    {%- for tag in content.tags -%}
      {{- tag -}}
      {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{- META_KEYWORDS -}}
  {%- endif -%}
{%- endblock %}

{% block meta_description -%}
  {%- if content.summary -%}
    {{- content.summary|striptags -}}
  {%- else -%}
    {{- META_DESCRIPTION -}}
  {%- endif -%}
{%- endblock %}

{% block meta_author -%}
  {%- if content.author -%}
    {{- content.author -}}
  {%- else -%}
    {{- AUTHOR -}}
  {%- endif -%}
{%- endblock %}

{%- if content.og_image -%}{% set OG_IMAGE = content.og_image %}{%- endif -%}
{%- if content.summary -%}{% set OG_DESCRIPTION = (content.summary|striptags) %}{%- endif -%}

{% block content %}
<!-- Facebook留言JavaScript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End of Facebook留言JavaScript SDK -->

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="{{ SITEURL }}/{{ content.url }}"
           rel="bookmark"
           title="Permalink to {{ content.title|striptags }}">
          {{ content.title }}
        </a>
      </h1>
      <h2 class="subtitle">
        {{ content.summary }}
      </h2>
    </div>
  </div>
</section>
<section class="main-content-section">
  <div class="container content">
    {% block article_time %}{% endblock %}
    <aside>
      {{- translations_for(content, SITEURL) -}}
      {%- if content.github_url -%}
        <div class="is-pulled-right"><a href="{{ content.github_url }}">{{ 'Edit on Github'|gettext(DEFAULT_LANG) }}</a></div>
      {%- endif -%}
    </aside>
    <hr>
    <div class="main-content">{{ content.content }}</div>
    <footer>{% block article_metadata %}{% endblock %}</footer>
  </div>
</section>

<!-- Facebook 留言位置 -->
<section class="section">
<div class="container">
<div class="fb-comments" data-width="100%" data-numposts="5"></div>
</div>
</section>
<!-- End of Facebook 留言位置 -->

{% endblock %}
