{#
  Multiple blocks of same name in Jinja2
  @see http://stackoverflow.com/questions/1242239/multiple-blocks-of-same-name-in-jinja2
#}
{%- extends "layout/layout.html" -%}

{% block title %}{{ groups_name }} - {{ super() }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container content">

  <h3 title="{{ groups_name }}" class="title">
    {{ groups_name }}
  </h3>

  <ul>
    {% for group, articles in groups %}
      <li title="{{ group }}">
        <a href="{{ SITEURL }}/{{ group.url }}">
          <span>{{ group }}</span>
          &nbsp;&nbsp;
          <span class="tag is-info">{{ articles | count }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  </div>
</section>
{% endblock %}
