{% extends "layout/layout.html" %}
{% block title %}{{ 'Archives'|gettext(DEFAULT_LANG) }} - {{ super() }}{% endblock %}
{% block content %}
<section class="section">
  <div class="container content">

  <h3 class="title">
    {{ 'Archives'|gettext(DEFAULT_LANG) }} - {{ SITENAME }}
  </h3>

  <ul>
    {% for article in dates %}
      <li>
        <span>
        {{ Gregorian_calendar(article.date) }}
        {% if article.modified -%}
        ({{ 'Updated'|gettext(DEFAULT_LANG) }}: {{ Gregorian_calendar(article.modified) }})
        {%- endif -%}
        </span>&nbsp;&nbsp;

        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </li>
    {% endfor %}
  </ul>

  </div>
</section>
{% endblock %}
