{% extends "layout/layout.html" %}
{% block content %}
{#% include "layout/includes/list_articles.html" %#}

<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="{{ 'https://www.google.com/search?q=%E9%82%B5%E6%8F%AE%E6%B4%B2'|gettext(DEFAULT_LANG) }}"><span data-typedtext="{{ '邵揮洲'|gettext(DEFAULT_LANG) }}"></span></a>
      </h1>
      <h2 class="subtitle">
        <span data-typedtext="{{ '教授'|gettext(DEFAULT_LANG) }},"></span>
        <a href="{{ 'http://w3.sname.ncku.edu.tw/main.php'|gettext(DEFAULT_LANG) }}"><span data-typedtext="{{ '系統及船舶機電工程學系'|gettext(DEFAULT_LANG) }},"></span></a>
        <span data-typedtext="{{ '成功大學'|gettext(DEFAULT_LANG) }}"></span>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p><span data-typedtext="這裡放大約一百字的自我介紹"></span></p>
  </div>
</section>

<section class="section">
  <div class="container">
<table>
  <tbody>
    <tr>
      <td>
    <span data-typedtext="學士" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="造船系" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="成功大學" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="1975/9 ~ 1979/6" class="link is-info"></span>
      </td>
    </tr>
    <tr>
      <td>
    <span data-typedtext="碩士" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="造船所" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="台灣大學" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="1979/9 ~ 1981/6" class="link is-info"></span>
      </td>
    </tr>
    <tr>
      <td>
    <span data-typedtext="博士" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="機械所" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="成功大學" class="link is-info"></span>
      </td>
      <td>
    <span data-typedtext="1984/9 ~ 1987/7" class="link is-info"></span>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</section>

<section class="section">
  <div class="container">
    <p><span data-typedtext="這裡放三或四篇代表著作"></span></p>
  </div>
</section>

{% endblock %}
