{% extends "layout/layout.html" %}
{% set index = (hidden_pages|hidden_pages_get_page_with_slug_index) %}

{%- if index.og_image -%}{% set OG_IMAGE = index.og_image %}{%- endif -%}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="{{ 'https://www.google.com/search?q=%E9%82%B5%E6%8F%AE%E6%B4%B2'|gettext(DEFAULT_LANG) }}"><span data-typedtext="{{ '邵揮洲'|gettext(DEFAULT_LANG) }}"></span></a>
      </h1>
      <h2 class="subtitle">
        <span data-typedtext="{{ '教授'|gettext(DEFAULT_LANG) }},"></span>
        <a href="{{ 'http://w3.sname.ncku.edu.tw/main.php'|gettext(DEFAULT_LANG) }}"><span data-typedtext="{{ '系統及船舶機電工程學系'|gettext(DEFAULT_LANG) }},"></span></a>
        <span data-typedtext="{{ '成功大學'|gettext(DEFAULT_LANG) }}"></span>
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
     {{ index.content }}
  </div>
</section>
{% endblock %}
